body {
  font: 300 14px/1.2 'Public Sans', sans-serif;
}

.container-fluid {
  max-width: 1024px;
}
.headerbgimage{
	background-image: url("../img/sagbanner.jpg");
}

.connbg-image{
    background-image: url("../img/sagtc.jpg");
    height:80px;
}

//tabs
.tab-header {
    color: #fff!important;
    background-color: #8E3CF7;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
//end of tabs



.bottonBoxBig{
    margin-top: 10px;
}
.bottonBoxSmallEnds{
    margin: 1px;
    padding-top: 3px;
    background-color: #3CC1B7 !important;
}
.bottonBoxSmallMiddle{
        margin: 1px;
        padding-top: 3px;
        background-color: #D9EC27 !important;
}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}


/* ################Tooltip START ################ */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* ################Tooltip END ################ */